.page-header
  .row
    .col-lg-5
      %h1{style: 'margin: 0px'}= @title
    .col-lg-4.col-lg-offset-3{style: 'text-align: right'}
      -if @group.complete?
        =link_to '#', class: 'btn btn-primary btn-sm download_report' do
          %span.glyphicon.glyphicon-download-alt
          &nbsp; Download report
      =link_to tone_check_group_recheck_path(@group), class: 'btn btn-primary btn-sm recheck_group' do
        %span.glyphicon.glyphicon-repeat
        &nbsp; Recheck all numbers
.row
  = render_flashes

.row
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.col-lg-1 Number
        %th.col-lg-1 Status
        %th.col-lg-1 Audio
        %th.col-lg-3 Result
        %th.col-lg-5 Notes
        %th.col-lg-1
    %tbody
      -@group.tone_checks.each do |check|
        %tr
          %td= link_to check.number, "tel:"+check.number
          %td
            %label{class: "label label-#{check.status_class}"}= check.status
          %td
            -if check.audio_url
              %audio{controls: true}
                %source{src: check.audio_url, type:"audio/mpeg"}
          %td= check.result
          %td= check.note
          %td
            =link_to tone_check_recheck_path(check), method: 'post', class: 'btn btn-primary btn-xs' do
              %span.glyphicon.glyphicon-repeat
            =link_to tone_check_update_path(check), "data-id": check.id, class: 'btn btn-info btn-xs edit_check' do
              %span.glyphicon.glyphicon-edit

#recheck_confirm_modal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#exampleModalLabel.modal-title
          Confirm
      .modal-body
        Are you sure you want to recheck all the numbers in this group?
        %span.name
        ?
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-danger{:type => "button"} Yep, recheck 'em all!

#download_report_modal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#exampleModalLabel.modal-title
          Download report
      .modal-body
        .row
          .col-lg-3
            Text
          .col-lg-9
            = text_area_tag('text', @group.text_report, style: 'font-family: monospace; white-space: nowrap; font-size: 10px;', wrap: 'soft', rows: 5, class: 'form-control')
        .row.top-buffer
          .col-lg-3
            &nbsp;
          .col-lg-9
            = link_to tone_check_group_path(@group) + ".csv", class: "btn btn-primary btn-sm" do
              %span.glyphicon.glyphicon-download-alt
              &nbsp; Download CSV

#edit_check_modal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
          Edit check for
          %span.number
      .modal-body
        .row
          %form.form-horizontal{method: 'post'}
            =hidden_field_tag '_method', 'put'

            %fieldset
              .form-group
                %label.col-lg-2.control-label Result
                .col-lg-8
                  = text_field_tag 'tone_check[result]', '', class: 'form-control result'
              .form-group
                %label.col-lg-2.control-label Notes
                .col-lg-8
                  = text_area_tag 'tone_check[note]', '', rows: 10, class: 'form-control note'

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-success{:type => "button"} Update

