.page-header
  .row
    .col-lg-5
      %h1{style: 'margin: 0px'}= @title
    .col-lg-2.col-lg-offset-5
      =link_to 'recheck', class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-repeat
        &nbsp; Recheck all numbers

.row
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.col-lg-1 Number
        %th.col-lg-1 Status
        %th.col-lg-2 Result
        %th.col-lg-3 Audio
        %th.col-lg-4 Notes
        %th.col-lg-1
    %tbody
      -@group.tone_checks.each do |check|
        %tr
          %td= link_to check.number, "tel:"+check.number
          %td= check.status
          %td= check.result
          %td
            -if check.audio_url
              %audio{src: check.audio_url}
          %td= check.note
          %td
            -if check.status == :complete
              %a{href: 'asdf', class: 'btn btn-primary btn-xs'}
                %span.glyphicon.glyphicon-repeat

