.col-lg-6.col-lg-offset-3
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Change your password
    .panel-body
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put , class: 'form-horizontal'}) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token

        %fieldset
          .form-group
            %label.col-lg-3.control-label
              = f.label :password, "New password"
            .col-lg-9
              = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
              - if @minimum_password_length
                %em= "(#{@minimum_password_length} characters minimum)"
          .form-group
            %label.col-lg-3.control-label= f.label :password_confirmation, "Confirm new password"
            .col-lg-9
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          .form-group
            .col-lg-9.col-lg-offset-3
              %button.btn.btn-primary{type: 'submit'} Change my password
              &nbsp;&nbsp;
              = render "devise/shared/links"

